* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    transition: all 0.4s ease-in-out;
  }
  
  body {
    background-color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    display: flex;
    color: var(--color-white);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  :root {
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
  }
  
  section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
  }
  .side{
      max-width: 20%;
      background-color: #1696e0;
      border-radius: 30px;
      margin: 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;
  }
  .side p,.side h2{
    margin-top:10px;

  }
  .side h2{
      color: black;
      font-weight: 700;
  }
  .side span{
      color: black;
      font-weight: 800;
  }
  .side .img{
      height: 200px;
      width: 200px;
  }
  .img img{
    width: 100%;
    
    border:2px solid black;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }

  .whatsapp{
      position: absolute;
      bottom: 2rem;
      background-color: #27AE60;
      padding: 1rem 1.2rem;
      border-radius: 1.1rem;
  }
  .whatsapp:hover{
      background-color: #09f56b;
  }
  .whatsapp a{
      text-decoration: none;
      font-weight: 600;
      color:var(--color-grey-6)
  }